<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    {{route-body route=model}}
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
  </div>
</div>
