<select onchange={{ action 'itemselected' value="target.value"}}>
  <option value="" selected>Choose your option</option>
    {{#each list as |item|}}
      <option value="{{item}}">{{item}}</option>
    {{/each}}
</select>
{{!-- <label>Materialize Select</label> --}}
