body
  min-width: 360px
  background: $color6

.text-right
  text-align: right

.text-center
  text-align: center

.text-left
  text-align: left

.inline-block
  display: inline-block

.sep-up
  margin-top: 25px

.list-unstyled
  list-style: none
  margin: 0
  padding: 0

.preloader-wrapper.extra-small
  +size(30px)

nav .button-collapse
  margin-left: 20px
  color: $color7

.display-block
  display: block

.page-title
  margin-top: 50px
  font-size: 1.8rem
  color: $color1

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  border: 0
