body
  min-width: 360px
  background: $color6

.text-right
  text-align: right

.inline-block
  display: inline-block

.sep-up
  margin-top: 25px

.list-unstyled
  list-style: none
  margin: 0
  padding: 0

.preloader-wrapper.extra-small
  +size(30px)
