form.search-train-form
  border-radius: 20px
  background: transparentize( $color5, 0.1)
  padding: 50px 25px 35px !important
  margin: 50px 0
  .circle-loader
    margin-right: 20px

  .preloader-wrapper.extra-small
    +size(30px)

.search-train-form
  input
    color: $color3

#search-submit
  float: right

.background-form
  background-image: url("/images/railway-station.jpg")
  background-size: cover
