form.search-train-form
  border-radius: 20px
  background: transparentize( $color5, 0.1)
  padding: 50px 25px 35px !important
  margin-top: 20%
  margin-bottom: 50px
  .circle-loader
    margin-right: 20px

  .preloader-wrapper.extra-small
    +size(30px)

.search-train-form
  input
    color: $color3

#search-submit
  float: right

.background-form
  background-image: url("/images/railway-station.jpg")
  background-size: cover
  min-height: 100vh
  transition: min-height 2s ease
  will-change: min-height

.background-up
  min-height: 100px
  transition: min-height 2s ease
  .search-train-form
    margin-top: 50px
    transition: margin-top 1s ease
