form.search-train-form
  padding: 50px 25px 35px !important
  margin-top: 20%
  margin-bottom: 50px
  .circle-loader
    margin-right: 20px

#search-submit
  float: right

.search-train-form.form-up
  margin-top: 50px
  transition: margin-top 0.5s ease
