.trains-page
  margin-top: 50px

.select-train
  margin-top: 50px
  min-height: 76px

.select-icon
  color: $color10

.user-location
  padding-top: 15px !important
  padding-bottom: 15px !important

.search-trains-button
  padding-right: 25px
  margin-top: 10px
