$hammersmith: #EE6E73
$bakerloo: #75431F
$central: #D1221D
$circle: #EFC000
$district: #007229
$jubilee: #6A7278
$metropolitan: #751056
$northern: #000000
$piccadilly: #0019A8
$victoria: #0094D2
$waterloo: #63C9B4

.hammersmith-line
  border-left-color: $hammersmith !important
  .subway-name
    background: $hammersmith

.bakerloo-line
  border-left-color: $bakerloo !important
  .subway-name
    background: $bakerloo

.central-line
  border-left-color: $central !important
  .subway-name
    background: $central

.circle-line
  border-left-color: $circle !important
  .subway-name
    background: $circle

.district-line
  border-left-color: $district !important
  .subway-name
    background: $district

.jubilee-line
  border-left-color: $jubilee !important
  .subway-name
    background: $jubilee

.metropolitan-line
  border-left-color: $metropolitan !important
  .subway-name
    background: $metropolitan

.northern-line
  border-left-color: $northern !important
  .subway-name
    background: $northern

.piccadilly-line
  border-left-color: $piccadilly !important
  .subway-name
    background: $piccadilly

.victoria-line
  border-left-color: $victoria !important
  .subway-name
    background: $victoria

.waterloo-line
  border-left-color: $waterloo !important
  .subway-name
    background: $waterloo
