<header class="header">

  <div class="navbar-fixed">
    <nav class="teal lighten-2">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><h1 class="site-title">Transportme</h1></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Sass</a></li>
          <li><a href="#">Components</a></li>
        </ul>
      </div>
    </nav>
  </div>

</header>
<div class="body">
  {{outlet}}
</div>
