<div class="favorites-wrapper">
  <div class="row">
    <div class="col l6 s12">

      {{#each model as |fav|}}
        <ul>
          {{fav-head fav=fav}}
        </ul>
      {{/each}}

    </div>

    <div class="col l6 s12">
      {{outlet}}
    </div>

  </div>
</div>
