<div class="favorites-wrapper container">
  <div class="row">

      <ul class="col s12">
      {{#each model as |fav|}}
          {{fav-head fav=fav}}
      {{/each}}
      </ul>

    <div class="">
      {{outlet}}
    </div>

  </div>
</div>
