<div class="container search-train-cont">
  <div class="row">

    <form class="col s12 m10 offset-m1 l8 offset-l2">
      {{md-input label='Start' name="startRoute" class="col s6" focusIn="initAutocomplete"}}
      {{md-input label='Ends' name="endRoute" class="col s6" focusIn="initAutocomplete"}}

      <div class="col s12 text-right">
        <button class="btn waves-effect waves-light" type="button" name="submitSearch">Search
          <i class="material-icons left">search</i>
        </button>
      </div>

    </form>

  </div>
</div>
