<div class="container">
  <div class="row">
    <form class="recents-form card col s12 m10 offset-m1 l8 offset-l2">

      <div class="input-field col s12 m6">
        {{select-recent list=(uniq-list model 'from' fromLocationList) optionSelected="fromLocSelected"}}
      </div>

      <div class="input-field col s12 m6">
        {{select-recent list=(uniq-list model 'to' toLocationList) optionSelected="toLocSelected"}}
      </div>

    </form>
  </div>{{!-- /row--}}

  <div class="row select-result-cont">
    <div class="col s12 m10 offset-m1">
      <ul>
        {{#each toDisplay.routes as |route|}}
          {{route-single route=route fromTo=toDisplay.fromTo}}
        {{/each}}
      </ul>
    </div>
  </div>{{!-- /row --}}

</div>{{!-- /container --}}
