<div class="container trains-page">
  <div class="row">
    <div class="input-field col s12 m6 l5 offset-l1">
      <i class="material-icons prefix" aria-hidden="true">search</i>
      {{input type="text" id="autocomplete-input" class="autocomplete" value=searchLocation placeholder="Location"}}
      <label for="autocomplete-input">Enter your location</label>
    </div>
 </div>

{{log model}}
 <div class="row select-train">

          {{/each}}
        </select>
        <label>Destination</label>
      </div>

 </div>
</div>
